{% extends 'base.html' %}
{% block title%}Lista de Funcionario{% endblock %}

{% block main %}
<h1>Lista de Funcionario</h1>
<hr>

<ul>
    {% for dados in object_list %}
        <li>
            <a href="{% url 'detal' dados.id %}" >{{ dados }} </a>
            <a href="{% url 'editar' dados.id %}" class="btn btn-outline-warning">  Atualizar</a>
            <a href="{% url 'apague' dados.id %}" class="btn btn-outline-danger">Excluir</a>


        </li>



    {% endfor %}
    <br>

</ul>

<br>
<a href="{% url 'criar' %}" class="btn btn-outline-success">Novo Funcionario</a>


{% endblock %}